<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title></title>
</head>

<body>
  <p>Dear {{name}},</p>
  <br />


<p> This is Jay from LibertyTrustGroup, we just talked over the phone today. </p>

<p>
We do fix and flip work on properties that need remodeling & rehabbing. 
</p>
<p>
Please send me any Distressed/ Any kind of Violations - Code/ Lien / 
</p>

<p>
Tax Deeds/ Title issues /  any kind of problem listings that require work to be done on.   
</p>

<p>
                We love to work in the TriCounty Miami-Dade, Broward & Palm Beach. Range from 50k to 800k. 
</p>

<p>
                I'll be waiting for your email. Please confirm that you recieved this message  :-)
</p>

<p> You can call me anytime:   @954-544-7243</p>

<p class="small"><a href="http://localhost:8100/#/app/properties/{{address}}">-</a></p>
<br>
  <p>Best, </p>
  <p>Jay Parteek, Trustee </p>
  <p> LibertyTrustGroup.com, </p>
<p>cell-(954)-544-7243| LibertyTrustGroup@Gmail.com| </p>
<p> Rehabworkers@gmail.com </p>


</body>

</html>
