<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title></title>
</head>

<body>
  <p>Dear {{name}},</p>
  <br />

<p>This is Jay from LibertyTrustGroup, we're cash home buyers, </p>

<p>I would like to know the status of the property</p>
<p>  {{address}} in {{city}}</p>
<br> 

<p> Please give me a call asap:   @954-544-7243</p>

<br>
  <p>Best, Jay Parteek, Trustee </p>
  <p> LibertyTrustGroup.com, </p>
<p>cell-(954)-544-7243| LibertyTrustGroup@Gmail.com| Rehabworkers@gmail.com </p>

<p class="small"><a href="http://localhost:8100/#/app/properties/{{address}}">-</a></p>


</body>

</html>
