<section>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="Investor Cherry" class="img-responsive text-center" src="http://www.fumari.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/h/o/hookah-tobacco-cherry.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Welcome to Investor Cherry Liberty Trust Group.
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="http://Investor Cherry.org" target="_blank">Learn more</a>
      </p>
    </div>
  </div>
  <div>
    <h2>Congrats! hi  You've configured and run the sample application.</h2>
    <p>Investor Cherry :-)</p>
    <p></p>
    <ul>
      <li>
        Click
        <em>Sign Up</em> to get started.
      </li>
      <li>
        
        <em></em> files.
      </li>
      <li>
        
      </li>
      <li>
        
      </li>
      <li>
        Have fun...
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h2><strong></strong></h2>
      <p><a target="_blank" href="http://Investor Cherry.org/">Investor Cherry</a> is a  <a target="_blank" href="http://Investor Cherry/manual/">great manual</a> is the place to get started with investing.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>I</strong>nvestor Cherry</h2>
      <p><a target="_blank" href="http://Investor Cherry.com/"> </a>Check out <a target="_blank" href="http://Investor Cherry">The ExpressJS API reference for more information</a> or <a target="_blank" href="http://investorcherrycom">Investor Cherry</a> for more info.</p>
    </div>
    
  </div>
  <div class="well">
    <h2>Investor Cherry Documentation</h2>
    <p>
      check out the Investor Cherry Documentation:
      <ul>
        <li><a target="_blank" href="http://Investor Cherry.html">Investor Cherry</a>
        </li>
        <!-- <li><a target="_blank" href="http://meanjs.org/generator.html">Yeoman Generator</a>
				</li> -->
     
      </ul>
    </p>
  </div>
  <br>Enjoy &amp; Keep Us Updated,
  <br>Investor Cherry Team.
</section>
